{% extends "template.html" %}
{% block content %}
    <div class="jumbo">
        <h2>Home</h2>
        </br>
        Tudósok kezdik megérteni, miért különbözik annyira egyik ember arca a másikétól. Egereket tanulmányozó kutatók több ezer parányi területet fedeztek fel a DNS-ben, melyek befolyásolják az arc berendezésének fejlődését. A tanulmány azt is bemutatja, hogyan alakítható az arc formája a genetikai anyag módosításával.

A Science-ben publikált felfedezések segíthetnek a kutatóknak megismerni a születéskori archibák kialakulása mögött megbújó folyamatokat. Bár a kutatást állatokkal végezték, a kutatók szerint az emberi arc is hasonlóan fejlődik. "Az próbáljuk kitalálni, hogyan ágyazódtak be az emberi DNS-ben az arcot felépítő utasítások" - nyilatkozott a BBC-nek Axel Visel, a kaliforniai Lawrence Berkeley Nemzeti Laboratórium Genetikai Intézetének professzora. "Valahol ott kell lennie egy tervrajznak, ami meghatározza, hogyan néz ki az arcunk"

    </div>
    <div class="lejebb">
       asd
    </div>
{% endblock %}